[Unit]
Description=HTTP Observatory API
After=network.target auditd.service

[Service]
WorkingDirectory=/opt/http-observatory
ExecStart=/opt/http-observatory/venv/bin/uwsgi --ini /etc/httpobs-api.ini
Restart=on-failure
User=httpobs
Group=httpobs
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
