[Unit]
Description=HTTP Observatory API
After=network.target auditd.service

[Service]
WorkingDirectory=/opt/http-observatory
Environment=HTTPOBS_DATABASE_USER=httpobsapi HTTPOBS_DATABASE_PASS=secret
ExecStart=/opt/http-observatory/venv/bin/uwsgi --http :57001 --wsgi-file httpobs/website/main.py --processes 8 --callable app --master
Restart=on-failure
User=httpobs
Group=httpobs
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
